@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<SportModel>

<div class="container">
    <h1 class="mb-5">List of all participating athletes</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">TeamActivity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.SportName</td>
                    <td>@(@item.TeamActivity == true ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @Html.ActionLink("Add sport", "NewSport")
    </div>
</div>